$accordion-button-color : orange;
$accordion-button-active-icon: red;
$accordion-icon-transition: 2s;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import"../node_modules/@fortawesome/fontawesome-free/css/all.min.css";